# PyCharm IDE files
.idea

# VSCode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History files
.history

# Compiled files
*.pyc

# Log files
*.log*